<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="~/Content/TestimonialStyleSheet.css" rel="stylesheet" />
    <title>OfficeDebit</title>

    <!--    Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--Fontawesom-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!--Animated CSS-->
    <link href="~/Content/animate.min.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!--Bootstrap Carousel-->
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link href="~/Content/style2.css" rel="stylesheet" />

    <!--Main Stylesheet-->

    <link href="~/Content/style.css" rel="stylesheet" />
    <!--Responsive Framework-->
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#header">

    <!--Start Hedaer Section-->
    <section id="header">
        <div class="header-area">
            <div class="top_header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                            <div class="address">
                                <i class="fa fa-home floatleft"></i>
                                <p>İzmir,Karşıyaka</p>
                            </div>
                        </div>
                        <!--End of col-md-4-->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                            <div class="phone">
                                <i class="fa fa-phone floatleft"></i>
                                <p>+02663337749</p>
                            </div>
                        </div>
                        <!--End of col-md-4-->
                        <div class="col-md-4">
                            <div class="social_icon text-right">
                                <!--Buraya şirketin sosyal medya hesap linkleri girilecek-->
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                        <!--End of col-md-4-->
                    </div>
                    <!--End of row-->
                </div>
                <!--End of container-->
            </div>
            <!--End of top header-->
            <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
                <div class="container">
                    <nav class="navbar navbar-default zero_mp ">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand custom_navbar-brand" href="#"><img src="~/Upload/logo2.png" alt=""></a>
                        </div>
                      
                        <!--End of navbar-header-->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right main_menu">
                                <li class="active"><a href="#header">Home <span class="sr-only">(current)</span></a></li>
                                <li><a href="#testimonial">testimonial</a></li>
                                <li><a href="#contact">Get in Touch</a></li>
                                <li><a href="#"><p>Log out</p></a> </li>
                            </ul>
                           
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                    <!--End of nav-->
                </div>
                <!--End of container-->
            </div>
            <!--End of header menu-->
        </div>
        <!--end of header area-->
    </section>
    <!--End of Hedaer Section-->
    <!--Start of slider section-->
   <section>
       <div>
           @RenderBody()
       </div>
   </section>
     
    <section id="testimonial">
        <div class="testimonial_overlay"><!--Burda arkaplandaki resim çalışmıyor.-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial_header text-center">
                            <h2>testimonials</h2>
                            <p>Size ilham verecek bazı sözler</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
                <section id="carousel">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                                    <!-- Carousel indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                    </ol>
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="profile-circle">
                                                        <img src="~/Upload/tree_cut_3.jpg" />
                                                    </div>
                                                    <div class="testimonial_content">
                                                        <i class="fa fa-quote-left"></i>
                                                        <p>“Yüksek beklentiler kesinlikle her şeyin anahtarıdır.”</p>
                                                    </div>
                                                    <div class="testimonial_author">
                                                        <h5>Sam Walton, Walmart CEO'su</h5>
                                                        <p>Ceo, Fourder</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="profile-circle">
                                                        <img src="~/Upload/tree_cut_3.jpg" />
                                                    </div>
                                                    <div class="testimonial_content">
                                                        <i class="fa fa-quote-left"></i>
                                                        <p>“Hiçbir insan işini sevmeden başarılı olamaz.”</p>
                                                    </div>
                                                    <div class="testimonial_author">
                                                        <h5>David Sarnoff, RCA CEO’su</h5>
                                                        <p>CEO, Fourder</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End of item with active-->
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="profile-circle">
                                                        <img src="~/Upload/tree_cut_3.jpg" />
                                                    </div>
                                                    <div class="testimonial_content">
                                                        <i class="fa fa-quote-left"></i>
                                                        <p>“Bir şirketin kalbi ve ruhu yaratıcılık ve yeniliktir.”</p>
                                                    </div>
                                                    <div class="testimonial_author">
                                                        <h5>Robert Iger, Walt Disney CEO’su</h5>
                                                        <p>CEO, Fourder</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="profile-circle">
                                                        <img src="~/Upload/tree_cut_3.jpg" />
                                                    </div>
                                                    <div class="testimonial_content">
                                                        <i class="fa fa-quote-left"></i>
                                                        <p>“Çok çevik ve çok açık fikirli olmanız gerekir. Başarınız nasıl adapte olduğunuza bağlıdır.”</p>
                                                    </div>
                                                    <div class="testimonial_author">
                                                        <h5>Jeremy Stoppelman, Yelp CEO’su</h5>
                                                        <p>CEO, Fourder</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--ENd of item-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of container-->
                </section>
                <!--End of carousel-->
            </div>
        </div>
        <!--End of container-->
    </section>
    
    <!--End of market-->
    <!--Start of contact-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="colmd-12">
                    <div class="contact_area text-center">
                        <h3>Get in Touch</h3>
                        <p>Bir sorunuz veya sorunuzunuz varsa bize bildirebilirsiniz...</p>
                    </div>
                </div>
            </div>
            <!--End of row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="office">
                        <div class="title">
                            <h5>our office info</h5>
                        </div>
                        <div class="office_location">
                            <div class="address">
                                <i class="fa fa-map-marker"><span>İzmir,Karşıyaka</span></i>
                            </div>
                            <div class="phone">
                                <i class="fa fa-phone"><span>+ 02663337749</span></i>
                            </div>
                            <div class="email">
                                <i class="fa fa-envelope"><span>hightechnology@gmail.com</span></i>
                            </div>
                            <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3125.670837071753!2d27.136769315070424!3d38.425971182199234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b8e31d22fb88d1%3A0x31458d18078ea54d!2sBilge+Adam+Akademi!5e0!3m2!1str!2str!4v1549787926940" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="msg">
                        <div class="msg_title">
                            <h5>Drop A Message</h5>
                        </div>
                        <div class="form_area">
                            <!-- CONTACT FORM -->
                            <div class="contact-form wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
                                <div id="message"></div>
                                <form action="scripts/contact.php" class="form-horizontal contact-1" role="form" name="contactform" id="contactform">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject *">
                                            <div class="text_area">
                                                <textarea name="contact-message" id="msg" class="form-control" cols="30" rows="8" placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn custom-btn" data-loading-text="Loading...">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of col-md-6-->
            </div>
            <!--End of row-->
        </div>
        <!--End of container-->
    </section>
    <!--End of contact-->
    <!--Start of footer-->
    <section id="footer">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="copyright">
                        <p>2016 - Design By <span><a href="">&#9798;</a></span></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="designer">
                        <p>A Design By <a href="#">XpeedStudio</a></p>
                    </div>
                </div>
            </div>
            <!--End of row-->
        </div>
        <!--End of container-->
    </section>
    <!--End of footer-->
    <!--Scroll to top-->
    <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
    <!--End of Scroll to top-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>-->
    <script src="~/scripts/jquery-1.12.3.min.js"></script>
    <!--Counter UP Waypoint-->  
    <script src="~/scripts/waypoints.min.js"></script>
    <!--Counter UP-->
    <script src="~/scripts/jquery.counterup.min.js"></script>
    <script>
            //for counter up
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
    </script>

    <!--Gmaps-->
    <script src="js/gmaps.min.js"></script>
    <script type="text/javascript">
            var map;
            $(document).ready(function () {
                map = new GMaps({
                    el: '#map',
                    lat: 23.6911078,
                    lng: 90.5112799,
                    zoomControl: true,
                    zoomControlOpt: {
                        style: 'SMALL',
                        position: 'LEFT_BOTTOM'
                    },
                    panControl: false,
                    streetViewControl: false,
                    mapTypeControl: false,
                    overviewMapControl: false,
                    scrollwheel: false,
                });


                map.addMarker({
                    lat: 23.6911078,
                    lng: 90.5112799,
                    title: 'Office',
                    details: {
                        database_id: 42,
                        author: 'Foysal'
                    },
                    click: function (e) {
                        if (console.log)
                            console.log(e);
                        alert('You clicked in this marker');
                    },
                    mouseover: function (e) {
                        if (console.log)
                            console.log(e);
                    }
                });
            });
    </script>
    <!--Google Maps API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjxvF9oTfcziZWw--3phPVx1ztAsyhXL4"></script>


    <!--Isotope-->
    <script src="~/scripts/scripts.js"></script>
    <script src="~/scripts/cells-by-row.js"></script>
    <script src="~/scripts/isotope.pkgd.min.js"></script>
    <script src="~/scripts/packery-mode.pkgd.min.js"></script>
    <script src="~/scripts/scripts-min.js"></script>


    <!--Back To Top-->
    <script src="~/scripts/backtotop.js"></script>

    <!--JQuery Click to Scroll down with Menu-->
    <script src="~/scripts/jquery.localScroll.min.js"></script>
    <script src="~/scripts/jquery.scrollTo.min.js"></script>
    <!--WOW With Animation-->
    <script src="~/scripts/wow.min.js"></script>
    <!--WOW Activated-->
    <script>
            new WOW().init();
    </script>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/scripts/bootstrap.min.js"></script>
    <!-- Custom JavaScript-->
    <script src="~/scripts/main.js"></script>
   
</body>

</html>
