<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Upload/favicon.ico">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>DebitAutomation</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/Content/light-bootstrap-dashboard.css" rel="stylesheet" />
    
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="~/Upload/sidebar-5.jpg">

            <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->
            <div class="sidebar-wrapper navbar-collapse navbar">
                <div class="logo">
                    <h5> Admin Panel</h5>
                </div>

                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="~/Admin/Employee/AddEmployee">
                            <i class="pe-7s-graph"></i>
                            <p>Add Employee</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/Employee/List">
                            <i class="pe-7s-user"></i>
                            <p>List Employee</p>
                        </a>

                    </li>
                    <li>
                        <a href="~/Admin/Adress/AddAdress">
                            <i class="pe-7s-note2"></i>
                            <p>Add Adress</p>
                        </a>
                    </li>
                    <li>

                        <a href="~/Admin/Adress/List">
                            <i class="pe-7s-news-paper"></i>
                            <p>List Adress</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/Product/AddProduct">
                            <i class="pe-7s-science"></i>
                            <p>Add Product</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/Product/List">
                            <i class="pe-7s-map-marker"></i>
                            <p>List Product</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="pe-7s-bell"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

           
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h4 style="color:gold" >High Technology</h4>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-left">
                               
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                        <b class="caret hidden-lg hidden-md"></b>
                                        <p class="hidden-lg hidden-md">
                                            5 Notifications
                                            <b class="caret"></b>
                                        </p>
                                     </a>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-search"></i>
                                        <p class="hidden-lg hidden-md">Search</p>
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
 
                                <li>
                                    <a href="#">
                                        <p>Log out</p>
                                    </a>
                                </li>
                                <li class="separator hidden-lg"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="container body-content">
                @RenderBody()
                  <hr />
                   <footer>
                      <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                  </footer>
                </div>

     
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="~/Admin/Employee/List">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="https://hightechnology.com.tr/high-technology-hakkimizda/">
                                    Company
                                </a>
                            </li>
                           
                            <li>
                                <a href="https://stackoverflow.com/">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
   
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--   Core JS Files   -->
    <script src="~/scripts/jquery.3.2.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <!--  Charts Plugin -->
    <script src="~/scripts/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/scripts/bootstrap-notify.js"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="~/scripts/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="~/scripts/demo.js"></script>

</body>
</html>

    